__pycache__/
*.pyc

.venv/
venv/
env/

.env

.DS_Store

sessions_v3.db
sessions_v3.db-shm
sessions_v3.db-wal

yedek/
.input_history

valizfrontend/node_modules/
valizfrontend/dist/
valizfrontend/.env
